.new-post {
    padding: 16px 0;
    border-bottom:1px solid #ccc;
  }
  
  .new-post header,
  .posts header{
    margin-bottom: 20px;
  }
  
  .posts .post{
    padding-left: 10px;
    border-left:3px  solid darkred;
    margin-bottom: 30px;
  }
  .posts.post .info{
  
    color: grey;
    font-style: italic;
  }

  .error,.error ul,
  .success{
    text-align: center;
  }
  .error{
    border:1px solid red;
    background-color: pink;
    color: red; 
  }

  .erro ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .success{
    border: 1px solid green;
    background-color:lightseagreen;
    color: green;
  }
  i{
    cursor: pointer;
  }

  p.italic {
    font-style: italic;
  }

  .shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  } 
  
  